@page "/items"

<h3>ShowAllItems</h3>


@if (Items == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <tr>

        <td>@Order.OrderId</td>
        @foreach (var lineItem in Order.LineItems)
        {
            <td>@lineItem.Item.Name</td>
            <td>@lineItem.Item.Price</td>
            <td>@lineItem.Item.ItemId</td>

        }

    </tr>
    <button class="btn btn-primary table-btn" @onclick="() => CreateOrder(Order)">
        Confirm Order
    </button>

    <table class="table">

        <thead>

            <tr>
                <th>Item ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Add Item to Order</th>
                <th></th>
                <th></th>
                <th>New Item:</th>

                <th>
                    <a href="@($"createitem/")" class="btn btn-primary table-btn">
                        <i class="far fa-plus-square"></i>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Items)
            {
                <tr>
                    <td>
                        @item.ItemId
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Price
                    </td>
                    <td>

                        <button class="btn btn-primary table-btn" @onclick="() => AddLineItemToOrder(item.ItemId)">
                            <i class="fas fa-plus-square"></i>
                        </button>
                    </td>
                    <td>
                        
                        <a href="@($"items/{item.ItemId}")" class="btn btn-primary table-btn">

                            <i class="fas fa-info-circle"></i>
                        </a>
                    </td>
                    <td>
                        <a href="@($"itemedit/{item.ItemId}")" class="btn btn-primary table-btn">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>

                    <td>
                        <button @onclick="() => DeleteItem(item.ItemId)" class="btn btn-primary table-btn">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>

                </tr>
            }


        </tbody>
    </table>
    
    }
